{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "printWidth": 150,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "endOfLine": "auto",
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "importOrder": [
        "^(react/(.*)$)|^(react$)",
        "",
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^next/(.*)$",
        "^next-(.*)$",
        "^next(.*)$",
        "",
        "^@mantine/core",
        "",
        "^@/components/(?!.*(?:module\\.scss|module\\.css|\\.scss|\\.css)$).+$",
        "",
        "^@mantine/hooks",
        "",
        "^@/lib/(.*)$",
        "",
        "^@/i18n/(.*)$",
        "",
        "<TYPES>",
        "",
        "^@/styles/(.*)$",
        "^(?!.*[.]scss$)[./].*$",
        ".scss$",
        "^(?!.*[.]css$)[./].*$",
        ".css$",
        "",
        "^[.]"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrderTypeScriptVersion": "5.0.0",
    "importOrderCaseSensitive": false
}
