.info-card {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: 120px;
    padding-top: var(--mantine-spacing-xl);
    background-color: light-dark(rgb(255 255 255 / 2%), rgb(0 0 0 / 2%));
    backdrop-filter: blur(10px);

    &--loading {
        background-color: unset;
        border: 1px solid light-dark(rgb(255 255 255 / 4%), rgb(0 0 0 / 4%));
        box-shadow: none;
        backdrop-filter: unset;
    }

    &__label {
        font-family: Outfit, var(--mantine-font-family);
        font-size: var(--mantine-font-size-xs);
        font-weight: 700;
        line-height: 1.2;
        color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-6));
        text-transform: uppercase;
    }

    &__value {
        font-size: var(--mantine-font-size-sm);
        font-weight: 700;
        color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
    }

    &__icon {
        color: light-dark(var(--mantine-color-blue-8), var(--mantine-color-blue-4));
    }
}
