.cover {
    $self: &;

    @include global.cover(&);

    &#{$self}--full-width {
        &:not(#{$self}--no-padding) {
            padding: 10rem var(--mantine-spacing-lg);
        }
    }

    &#{$self}--full-screen {
        width: 100%;
        height: 100dvh;
    }

    &.about::after {
        @include global.background-overlay('/images/company.webp');
    }

    &.roadster::after {
        @include global.background-overlay('/images/roadster.webp');
    }

    &.launches::after {
        @include global.background-overlay('/images/launches.webp');
    }
}

.hero {
    @include global.hero;
}
