.cover {
    $self: &;

    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-height: 100vh;

    @include global.for-tablet-portrait-up {
        &:not(#{$self}--no-padding) {
            padding: 10rem 5rem;
        }
    }

    &::after {
        position: absolute;
        inset: 0;
        z-index: -1;
        display: block;
        max-width: 100vw;
        min-height: 100vh;
        content: '';
        filter: light-dark(saturate(80%) contrast(70%) brightness(120%), saturate(120%) contrast(90%) brightness(80%));

        @include global.background-overlay;
    }

    &#{$self}--full-width {
        &:not(#{$self}--no-padding) {
            padding: 10rem var(--mantine-spacing-lg);
        }
    }

    &#{$self}--full-screen {
        width: 100%;
        height: 100dvh;
    }

    &.about::after {
        @include global.background-overlay('/images/company.webp');
    }

    &.roadster::after {
        @include global.background-overlay('/images/roadster.webp');
    }

    &.launches::after {
        @include global.background-overlay('/images/launches.webp');
    }
}

.hero {
    min-height: 100dvh;
    padding: 8rem var(--mantine-spacing-lg) var(--mantine-spacing-lg) var(--mantine-spacing-lg);

    @include global.panel-background;

    @include global.for-tablet-portrait-up {
        align-self: center;
        width: min(40rem, 100dvw);
        min-height: auto;
        padding: var(--mantine-spacing-xl);
        margin: auto 0 auto auto;
        border-radius: var(--mantine-radius-md);
    }
}
