.cover {
    position: relative;
    display: flex;
    min-width: 100dvw;
    min-height: 100dvh;

    &::after {
        position: absolute;
        inset: 0;
        z-index: -1;
        display: block;
        min-width: 100dvw;
        min-height: 100dvh;
        content: '';
        background:
            linear-gradient(
                90deg,
                light-dark(global.$overlay-from-color, global.$overlay-from-color-dark),
                light-dark(global.$overlay-to-color, global.$overlay-to-color-dark)
            ),
            url('/images/company.webp') no-repeat bottom left / cover;
        filter: light-dark(saturate(80%) contrast(70%) brightness(120%), saturate(120%) contrast(90%) brightness(80%));
    }
}

.hero {
    box-sizing: border-box;
    width: 100%;
    padding: 8rem var(--mantine-spacing-lg) var(--mantine-spacing-lg) var(--mantine-spacing-lg);
    background: linear-gradient(
        30deg,
        light-dark(global.$hero-background-color-1, global.$hero-background-color-1-dark) 1%,
        light-dark(global.$hero-background-color-2, global.$hero-background-color-2-dark) 135%
    );
    box-shadow: var(--mantine-shadow-xl);
    backdrop-filter: blur(0.5rem);

    @include global.for-desktop-up {
        align-self: center;
        width: min(650px, 100%);
        padding: var(--mantine-spacing-xl);
        margin: 10rem 5rem 5rem auto;
        border-radius: var(--mantine-radius-md);
    }
}
