$mantine-breakpoint-xs: 36rem;
$mantine-breakpoint-sm: 48rem;
$mantine-breakpoint-md: 64rem;
$mantine-breakpoint-lg: 85rem;
$mantine-breakpoint-xl: 160rem;

$overlay-from-color: rgb(255 255 255 / 30%);
$overlay-to-color: rgb(255 255 255 / 60%);
$overlay-from-color-dark: rgb(0 0 0 / 30%);
$overlay-to-color-dark: rgb(0 0 0 / 60%);

$hero-background-color-1: rgb(255 255 255 / 20%);
$hero-background-color-2: rgb(255 255 255 / 40%);
$hero-background-color-1-dark: rgb(0 0 0 / 20%);
$hero-background-color-2-dark: rgb(0 0 0 / 40%);
