@forward './variables';
@forward './mixin';

@use './fonts.css' as *;

.body {
    width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
    scroll-behavior: smooth;
}

.main-container {
    position: relative;

    > div {
        transform-style: preserve-3d;
        overflow: hidden;
        transition:
            opacity 0.5s ease-in-out,
            filter 0.5s ease-in-out,
            transform 0.5s ease-in-out;
    }
}

.navigation-opened {
    overflow: hidden;

    body {
        overflow: hidden;
    }

    .main-container > div {
        opacity: 0.6;
        filter: blur(1rem) brightness(50%);
        transform: scale(1.2);
    }
}
