@use 'sass:string';
@forward './variables';
@forward './mixin';

@function raw-calc($expr) {
    @return string.unquote('calc(#{$expr})');
}

.html,
.body {
    width: 100%;
    min-height: 100%;
}

.main-container {
    position: relative;
    width: calc(100vw - (100vw - 100%));

    > div {
        transition:
            opacity 0.2s ease-in-out,
            filter 0.2s ease-in-out,
            transform 0.2s ease-in-out;
    }
}

/* stylelint-disable-next-line selector-class-pattern */
.navigation--opened {
    .body {
        overflow: hidden;
    }

    & .main-container {
        width: 100%;

        > div {
            opacity: 0.6;
            filter: blur(1rem) brightness(50%);
            transform: scale(1.2);
        }
    }
}
